.authorName{
  margin: 2%;
}
fieldset{
  border: solid;
  border-color: orange;
  border-radius: 30px;
  border-width: 5px;
}
.authorCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  
  
}

.author{
  background: white;
  width: 20%;
  margin:auto;
  padding: 1%;
  color: orange;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 100px;
  /* z-index: 10;
  position: absolute;
  left: 50% */
  
}