.authorName{
  margin: 2%;
}
fieldset{
  border: solid;
  border-color: #FC904D;
  border-radius: 30px;
  border-width: 8px;
}
.authorCard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 3%; */
  
  
}

.author{
  background: white;
  width: 20%;
  margin:auto;
  padding: 0.5%;
  color: #FC904D;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 100px;
  width: fit-content;
  /* z-index: 10;
  position: absolute;
  left: 50% */
  
}