.bookShelf{
  display: flex;
  flex-direction: column;
  color: white;
}
.header{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.headerLineLeft{
  width: 50%;
  float: left;
  align-self: flex-end;
}
.headerLineRight{
  width: 50%;
  float: right;
  align-self: flex-end;
}

.title{
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* padding: 1%; */
  margin-left: 5%;
  margin-right: 5%;
  background: none;
  color: white;
  text-align: center;
  margin-left:7%;
  margin-right:7%;
}
.subheading{
  font-style: italic;
  align-self: center;
  font-size: 30px;
  font-weight: bold;
}
hr{
  height:4px;
  background-color: white;
}